# Meta Marketing API
FB_ACCESS_TOKEN=
FB_AD_ACCOUNT_JISHA=1487016489469570
FB_AD_ACCOUNT_GAICHU=1058312178767687

# Notion
NOTION_TOKEN=
NOTION_DB_DAILY_ID=35bafb87402881-9ea6-d8f8-ccc32ff21e
NOTION_DB_CREATIVE_ID=35bafb87402881-1fb2-8ffe-d466d51ad8

# Slack (任意。空でも動作)
SLACK_WEBHOOK_URL=
